*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{

    background-color: blanchedalmond;
    height: 20rem;
    width: 20rem;
}

.calButton, .select, .price, .people{
    margin: 1.5rem 0rem;
}


#main{
    /* left: 15rem;
    top: 10rem; */
    background-color: aqua;
    height: 20rem;
    padding: 2rem;
    border-radius: 2%;
}


#search-value{
    display: block;
    justify-content: space-around;
    align-items: center;
    width:100%;
}


#calculate{
    padding: .3rem;
    color: rgb(243, 243, 245);
    background-color: black;
    margin: 0rem 1rem;
}

#billResult{
    background-color: cornsilk;
}

