*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#main{
    
    background-color:blueviolet;
    height: 20rem;
    width: 16rem;
    padding: 2rem;
    border-radius: 2%;
    color: white;
}


.calButton, .select, .price, .people{
    margin: 1.5rem 0rem;
}

#billPrice, #noPeople{
    width: 6rem;
}


#search-value{
    display: block;
    justify-content: space-around;
    align-items: center;
    width:100%;
}


.price, .select, .people{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.calButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#calculate, #Reset{
    padding: .3rem;
    color: rgb(243, 243, 245);
    background-color: blueviolet;
    margin: 0rem 1rem;
    color: white;
}

#billResult{
    color: black;
    background-color: cornsilk;
}