*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{

    display: block;
    align-items: center;
    justify-content: space-evenly;
    background-color: aqua;
    height: 4rem;

}

.bill-price, .number-people{
    width: 4rem;
}

#bill-result {
    width: 4rem;
}

#search-value{
    display: block;
    justify-content: space-around;
    align-items: center;
    width:30%;
}


#calculate{
    padding: .3rem;
    color: rgb(243, 243, 245);
    background-color: black;
}


